.slide-enter-active
  transition: all 0.6s ease

.slide-leave-active
  transition: all 0.3s

.slide-enter
  transform translate3d(0,0,0) rotate(360deg) scale(0,0)
  opacity 0

.slide-leave-to
  transform translate3d(0,100%,0)
  opacity 0